extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content

  if authenticated
      h2 Welcome
      form(action='/users/logout' method='post')
        button(class='btn' type='submit') Logout
  else
      button(class='btn'): a(href='/users/login') Login
      button(class='btn'): a(href='/users/signup') Sign Up
