extends layout
block content
    div(id="button-container")
    div(id="individual-story-container")
        div(id="individual-story-title")
            h1 #{story.title}
        div(id="story-user")
            p Created By: #{user.userName}
        div(id="individual-story-content")
            p(id="paragraph-content") #{story.content}
