doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    h1(class="title")= title
    if authenticated
      h2 Welcome
      form(action='/users/logout' method='post')
        button(type='submit' class='logout') Logout
    else
      button(class='login'): a(href='/users/login') Login
      button(class='register'): a(href='/users/signup') Register
    block content
