extends layout
block content
    button(class='new-story-button'): a(href='/story-new') Create New Story
    ul
        each story in stories
            div(class='stories-display')
                li=story.title
                li=story.content
                li=story.createdAt
