extends layout
block content
    h1(id="story-header") Your Amazing Stories
    div(id="new-button")
        button(class='btn'): a(href='/story-new') Create New Story
    div(class="story-items")
        each story in stories
            div(class='items')
                ul(id="list")
                    li=story.title
                    li(class="date") #{story.createdAt}
