extends layout

include utils.pug

block content
    div(class='center-container')
        div(class="form-container")
            +validationErrorSummary(errors)
            form(class="login-form" action='/users/login' method='post')
                h2 Welcome back!
                input(type="hidden" name="_csrf" value=csrfToken)

                div(class='input-container')
                    label(class="login-label" for='userName') Username:
                    input(class="login-input" type='text' name='userName' id='userName')

                div(class='input-container')
                    label(class="login-label" for='password') Password:
                    input(class="login-input" type='password' name='password' id='password')

                div(class="submit-div-login")
                    button(class="btn" type="submit") Login
                    hr
                p Dont have an account?  
                    span: a(href="/users/signup") Sign up

            