extends layout
include utils.pug
block content
    h1(id="follower-heading") Your Current Followers
    div(id="followers-list")
        ul(id="ul")
                each person in followers
                    if person.followers
                        li= person.followers.userName
