doctype html
html
  head
      block head
        title= title
        link(rel="stylesheet", href="/stylesheets/index.css")
        link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
        script(src="https://kit.fontawesome.com/c8dd27a445.js" crossorigin="anonymous")
  body
    if authenticated 
      div(class="header-nav__container")
        span(id='buttons', class="header-nav__group")
          img(id='nav-image', src="/images/avocado2.png")
          h1: a(href="/")  Avocati
          div(id='vl')
            h2= title
        span(id='buttons')
          button(class='text-only'): a(href='/users/logout') Sign Out
          button(class='text-only'): a(href='/story-new') Write
          button(class='landing-button'): a(href=`/users/${user.id}`) My Profile
    else
      div(class="header-nav__container")  
        span(id='buttons', class="header-nav__group")
          img(id='nav-image', src="/images/avocado2.png")
          h1: a(href="/") Avocati
          div(id='vl')
            h2= title
        span(id='buttons')
          button(type='submit', class='text-only'): a(href='/users/login') Sign in
          button(class='landing-button'): a(href='/users/signup') Get Started
    block content
