extends layout
block content
    h1(id="story-header") Your Amazing Stories
    div(class="story-items")
        each story in stories
            a(href=`/${story.id}`)
                div(class='items')
                    ul(id="list")
                        li=story.title
                        li(class="date") #{story.createdAt}
