extends layout
block content
    if isCurrentUser
        h1(id="story-header") Your Amazing Stories
    else
        h1(id="story-header") Amazing Stories From #{name}
    div(class="story-items")
        each story in stories
            a(href=`/${story.id}`)
                div(class='items')
                    ul(id="list")
                        li=story.title
                        li(class="date") #{story.createdAt}
