extends layout

include utils.pug
append head

block content
    div(class="login-title") Welcome back!
    div(class='center-container')
        div(class="form-container")
            form(class="login-form" action='/users/login' method='post')
                +validationErrorSummary(errors)
                input(type="hidden" name="_csrf" value=csrfToken)

                div(class='input-container')
                    label(class="login-label" for='userName') Username:
                    input(class="login-input" type='text' name='userName' id='userName')

                div(class='input-container')
                    label(class="login-label" for='password') Password:
                    input(class="login-input" type='password' name='password' id='password')

                div(class="submit-div-login")
                    button(class="landing-button" type="submit") Login
                    button(class="landing-button demo sign-in-demo") Demo
                    
    p(class="signup-question") Dont have an account?
        a( class="sign-link" href="/users/signup") Sign up
