#follower-heading{
    display: flex;
    justify-content: center;
}

#followers-list{
    display: flex;
    justify-content: center;
}

#followers-list li{
    font-size: 24px;
}

#ul{
    list-style: none;
}
