footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    background: #52734d;
    border-top: 2px solid black;;
    padding: 10px;
}
.main-link{
    display: flex;
}
footer .meet-container{
    display: flex;
    flex-wrap: wrap;
}
.main-link:hover{
    opacity: 50%;
}

footer a {
    text-decoration: none;
    align-self: center;
}
.big-link{
    padding-bottom: 5px;
    margin-left: 20px;
}
footer h1 {
    font-size: 20px;
    align-self: center;
}
.meet-container h1{
    margin-right: 10px;
}
.meet-container p {
    align-self: center;
}
.meet-container i {
    margin: 2px;
}
.meet-container p {
    margin: 3px;
}