.center-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
}


.form-container {
  display: flex;
  background-color: #8db596;
  width: 30%;
  height: 100%;
  /* height: 50vh; */
  justify-content: center;
  border-radius: 5px;
  border: black solid 2px;
}

.signup-form-container {
  display: flex;
  background-color: #8db596;
  width: 25vw;
  min-height: 50vh;
  /* height: 50vh; */
  box-shadow: 5px 5px 10px gray;
  justify-content: center;
  border-radius: 5px;
  border: black solid 2px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px gray;
  width: 100%;
  min-height: 20vh;
}

.signup-form {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 20vh;
}

.input-label {
  display: block;
}

.input-container {
  margin: 15px;
  width: 70%;
}

.signup-container {
  width: 70%;
}

.login-input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0px;
}

.signup-input {
  height: 50%;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0px;
}

.submit-div {
  padding-bottom: 10px;
}

.submit-div-login{
  margin-bottom: 2%;
}

.login-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  height: 30vh;
}

.signup-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  height: 20vh;
}

.signup-question{
  display: flex;
  justify-content: center;
  font-size: 1vw;
  margin-top: 5%;
}

.sign-link{
  font-size: 1vw;
}
