.header-nav__container {
    background-color: #52734d;
    display: flex;
    justify-content: space-between;
    padding: 2px 0px 2px 0px;
}

#vl {
    height: 40px;
    border-left: 2px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px 0px 0px 15px;
}

#center {
    display: flex;
    align-content: center;
    margin: 15px 0px
}

#buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0px
}

.text-only {
    font-size: 12px;
    color: black;
    border: none;
    background-color: #52734d;
    outline: none;
}

.landing-button {
    background-color: transparent;
}

.landing-button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

span#buttons{
    margin-right: 10px;
}

#buttons > h1 > a {
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
    /* margin-left: 5px; */
}

#vl > h2 {
    margin-top: 12px;
    margin-left: 10px;
}

#nav-image{
    width: 35px;
    margin-left: 10px;
}