#story-btn{
    background-color: white;
}

.green-btn {
    background-color: green;
    color: white;
}

.green-btn-follow {
    background-color: green;
    color: white; 
}

.green-btn:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}




#followers-btn{
    background-color: white;
}

#edit-btn{
    background-color: white;
}


#user-name {
    margin: 50px 0px 20px 15px;
}

#follow-bar{
    padding: 15px;
}

.hl {
    /* height: 5px; */
    width: 100%;
    background-color: lightgray;
    border: .2px solid rgb(187, 186, 186);
}

#date {
    color: rgb(153, 151, 151);
}

#follow {
    color: green;
}

#bio-box{
    padding: 30px 0px 30px 20px;
}



