.form-div {
  display: flex;
  margin-top: 3%;
  justify-content: center;
  width: 100%;
  height: 80vh;

}

.story-container {
  width: 60vw;
}

.story-form{
  display: grid;
  grid-template-areas:
  "image"
  "title"
  "story"
  "post";
  grid-template-rows: 5% 15% 76% 4%;
  border: 2px dotted rgb(64, 126, 3);
  height: 100%;
  box-shadow: 5px 5px 10px gray;
}

.story-text {
  font-size: 2vw;
  width: 100%;
  /* position: relative; */
  border: none;
  outline: none;
  resize: none;
  /* background-color: #feffde; */
}

.post-div{
  grid-area: post;
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
  padding-bottom: 1%;
  padding-right: 1%;
}

.text-container{
  grid-area: story;
  /* background-color: #feffde; */
}

.story-title {
  grid-area: title;
  font-size: 3vw;
  border: none;
  border-bottom: 2px solid black;

  outline: none;
}

.imageurl-container{
  grid-area: image;
}
