
/* regular computer window */
.header-nav__container {
    background-color: #52734d;
    display: flex;
    justify-content: space-between;
}

#whitespace {
    width: 600px;
}

#vl {
    height: 30px;
    border-left: 2px solid black;
  }

#center {
    display: flex;
    align-content: center;
    margin: 15px 0px
}

#buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0px
}
/* span.home{

} */

h2.title{
    display: flex;
    justify-content: center;

}


/* smaller window */
@media screen and (max-width: 884px) {
    #whitespace {
        width: 200px;
    }
}

@media screen and (max-width: 684px) {
    #whitespace {
        width: auto;
    }
}

.text-only {
    font-size: 12px;
    color: black;
    border: none;
    background-color: #52734d;
    outline: none;
}

.landing-button {
    background-color: transparent;
  }

.landing-button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}