/* HEADER SECTION */
.landing-header-container {
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  justify-content: center;
  background: #8db596;
  padding: 50px;
  /* height: 30vh; */
}

.landing-header-content {
  width: 80%;
  padding: 30px 0;
  background-image: url("../images/avocado.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.landing-header-text-box {
  width: 60%;
}

.landing-header-text {
  font-size: 50px;
  padding-bottom: 20px;
}
.landing-header-img {
  /* max-width: 10em; */
}

.landing-button {
  background-color: transparent;
  border: 1px solid black;
}
.landing-button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

/* TRENDING SECTION */
.trending {
  /* display: flex;
  flex-direction: column; */
  padding: 10px;
}
.trending-text {
  padding-left: 10px;
  font-weight: bold;
}

.landing-top-stories {
  margin: auto;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid gray;
}

.landing-top-story {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
}

.trending-number > p{
  font-size: 30px;
  font-weight: bold;
  color: rgb(228, 228, 228);
  margin-right: 10px;
  margin-top: 0px;
}
.landing-top-story > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-top-story-timestamp {
  font-size: 10px;
}

.landing-top-story a,
.landing-other-story-textbox > a {
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 10px;
}

/********** OTHER STORIES SECTION ***********/
.other-content {
  display: flex;
  justify-content: center;
}

.landing-other-stories div {
  margin: 0px 20px;
}
.landing-other-story {
  display:flex;
  width: 600px;
  padding: 20px;
}

.landing-other-story-textbox{
  padding: 0 20px 20px 20px;
  width: 400px;
}
.landing-other-story-title {
  font-size: 20px;
}
.landing-other-story-timestamp {
  font-size: 10px;
}
.landing-other-story-imgbox{
  height:100px;
  width: 200px;
}
.other-story-img{
  width: 100%;
}
.other-follow {
  display: flex;
  flex-direction: column;
}

.other-follow-text,
.other-follow-div {
  background: #feffde;
  margin: 20px;
  padding: 20px;
}

.other-follow-text h3 {
  font-weight: bold;
}
