#individual-story-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#individual-story-title{
    margin-top: 5%;
}

#img-div{
    display: block;
    width: 50%;
}

#image{
    max-width: 100%;
}
#individual-story-content{
    margin-top: 4%;
    width: 50%;
}

#paragraph-content{
    line-height: 20px;
    white-space: pre-wrap;
}

#button-container{
    display: flex;
    justify-content: center;
}
