.center-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #8db596;
}

.form-container{
    display: flex;
    background-color: #feffde;
    width: 80%;
    /* height: 50vh; */
    justify-content: center;
    border-radius: 5px;
    border: black solid 2px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

label{
    display: block;
}

.input-container{
    margin: 15px;
    width: 80%;
}

input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0px;
}

.submit-div{
    padding-bottom: 10px;
}